* {
  padding: 0;
  margin: 0;
}

body, html{
  background: #f8f8f8;

  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.layout-content{
  margin: 30px 20px 0px 20px;

  h2{
    margin-bottom: 10px;
  }
}

.x-card{
  .ivu-card-head{
    background-color: #f4f3f4;
    padding: 10px 16px;
  }
}
.modal-hidden-footer{
  .ivu-modal-footer{
    display: none;
  } 
}